* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: #212121;
  background-color: rgb(237, 237, 244);
  line-height: 1.5;
}

#search-box {
  font: inherit;
  max-width: 320px;
  margin-bottom: 16px;
  padding: 10px;
  margin: 20px;
}

.list-style {
  list-style-type: none;
}

.list-item {
  margin: 10px;
}

.flex {
  display: flex;
}

.country-style {
  font-size: 30px;
}

.image {
  padding-bottom: 10px;
}
